@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*adding Index heading and "Hello from our View Template!*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>