@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}  COMMENTED OUT BECAUSE THE Views\_ViewStart.cshtml files define this as the common layout that all views will use already.*@

@*adding Index heading and "Hello from our View Template!*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>